.address-modal-container {
  margin: 2rem 2rem;
  padding: 2rem 2rem;
  outline: 0.25rem solid gray;
}

.address-view {
  display: grid;
}

#country {
  margin-bottom: 1rem;
}

#address-label {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.25rem;
  border-radius: 0.55rem;
  outline: 0.025rem solid gray;
}

.address-view label {
  margin-top: 1rem;
}

.error-message,
.success-message {
  font-size: medium;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5rem;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

label,
input,
button {
  font-size: large;
}

input {
  border-radius: 2rem;
  border: 0.025rem solid rgb(165, 161, 161);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

button {
  margin: 1rem auto;
}

input:focus,
button:focus {
  outline: 0.25rem solid red;
}

input:hover {
  outline: 0.25rem solid rgb(160, 152, 152);
}
