<div class="address-modal-container">
  @if (selectedFormField() === 'address') {
    <form [formGroup]="addressForm" (ngSubmit)="editAddress()">
      <div class="address-view">
        <label for="streetName">Street *</label>
        <input
          id="streetName"
          type="text"
          placeholder="Golfstraße"
          minlength="3"
          maxlength="50"
          title="Has to contain at least 3 characters until maximum 50."
          [formControl]="streetName"
        />

        @if (streetName.invalid && (streetName.touched || streetName.dirty)) {
          @if (
            streetName.hasError('required') ||
            streetName.hasError('minlength') ||
            streetName.hasError('maxlength') ||
            streetName.hasError('sameAsCurrentAddress')
          ) {
            <mat-error class="error-message">{{ validatorsService.streetNameIsInvalid }}</mat-error>
          }
        }
        <label for="postalCode">Postalcode *</label>
        <input
          id="postalCode"
          type="number"
          placeholder="20"
          min="1"
          max="23"
          title="Has to look like this: 12 or 23."
          [formControl]="postalCode"
        />

        @if (postalCode.invalid && (postalCode.touched || postalCode.dirty)) {
          @if (postalCode.hasError('required') || postalCode.hasError('min') || postalCode.hasError('max')) {
            <mat-error class="error-message">{{ validatorsService.postalCodeIsInvalid }}</mat-error>
          }
        }
        <label for="city">City *</label>
        <input
          id="city"
          type="text"
          placeholder="Vienna"
          minlength="3"
          maxlength="50"
          title="Has to contain at least 3 characters until maximum 50."
          [formControl]="city"
        />
        @if (city.invalid && (city.touched || city.dirty)) {
          @if (city.hasError('required') || city.hasError('minlength') || city.hasError('maxlength')) {
            <mat-error class="error-message">{{ validatorsService.cityIsInvalid }}</mat-error>
          }
        }
        <label for="country">Country *</label>
        <input
          id="country"
          type="text"
          placeholder="Austria"
          minlength="3"
          maxlength="50"
          title="Has to contain at least 3 characters until maximum 50."
          [formControl]="country"
        />
        @if (country.invalid && (country.touched || country.dirty)) {
          @if (country.hasError('required') || country.hasError('minlength') || country.hasError('maxlength')) {
            <mat-error class="error-message">{{ validatorsService.countryIsInvalid }}</mat-error>
          }
        }

        <mat-label for="address-label">Address Location *</mat-label>
        <mat-select id="address-label" matNativeControl name="address-label" [formControl]="label">
          <mat-option value="" selected="selected">Choose here</mat-option>
          @for (a of getAddressLabel(); track a) {
            <mat-option [value]="a">{{ a }}</mat-option>
          }
        </mat-select>
        @if (label.invalid && (label.touched || label.dirty)) {
          @if (label.hasError('required')) {
            <mat-error class="error-message">{{ validatorsService.addressLabelIsInvalid }}</mat-error>
          }
        }

        @if (this.errorMessage().includes('label already exists')) {
          <button type="button" matButton="elevated" [disabled]="addressForm.invalid" (click)="replaceAddressWithExistingLabel()">
            Replace Label
          </button>
        } @else {
          <button type="submit" matButton="elevated" [disabled]="addressForm.invalid">Change Address</button>
        }

        @if (isValidChange()) {
          <p class="success-message">{{ successMessage() }}</p>
        } @else {
          <p class="error-message">{{ errorMessage() }}</p>
        }
      </div>
    </form>
  }
</div>
