<div class="food-filter-container">
  <mat-chip-listbox
    class="food-filter-list"
    (change)="onFilterDietaryChange($event)"
    aria-label="Select a food label."
    aria-describedby="In order to choose a filter option, navigate using arrow keys and press enter/space."
  >
    @for (label of filteredDietaryLabelByRestaurants(); track $index) {
      <mat-chip-option
        [attr.aria-label]="label[1] + ' restaurants have been found for' + label[0] + ' food.' | titlecase"
        [title]="label[1] + ' restaurants have been found for ' + label[0] + ' food.' | titlecase"
        [value]="label[0] | uppercase"
        >{{ `${(label[0] | titlecase)} (${label[1]})` }}
      </mat-chip-option>
    }
  </mat-chip-listbox>
</div>

<div class="food-category-container">
  @for (i of categories(); track i.id) {
    <button class="categories-container" [attr.aria-label]="i.categorie" (click)="onCategoryClick(i)">
      <figure>
        <img [src]="'/images/categories/' + i.categorieImage" [alt]="i.categorieImage" />
        <figcaption>{{ i.categorie }}</figcaption>
      </figure>
    </button>
  }
</div>

<div class="all-restaurants-container">
  @for (i of filteredRestaurants(); track i.id) {
    <button class="restaurant-container" [attr.aria-label]="i.restaurantName" (click)="onRestaurantClick(i)">
      <figure>
        <!-- With the img, link and script tag one can implicitly make a request to the server. -->
        <img [src]="'/images/restaurants/' + i.imageName" [alt]="i.imageName" />
        <figcaption>{{ i.restaurantName }}</figcaption>
      </figure>
    </button>
  }
</div>
