<div class="food-category-container">
    <!-- <p>Category</p> -->
    @for (i of categories(); track i.id) {
    <div class="categories-container" (click)="onCategoryClick(i)">
        <img [src]="'/images/categories/' + i.categorieImage">
        {{i.categorie}}
    </div>

    }

</div>

<div class="all-restaurants-container">
    @for(i of restaurants(); track i.id){

    <div class="restaurant-container" [routerLink]="['/restaurant/'+ i.restaurantName]">
        <!-- With the img, link and script tag one can implicitly make a request to the server. -->
        <img [src]="'/images/restaurants/' + i.imageName">
        <p>{{i.restaurantName}}</p>
    </div>
    }
</div>

<div class="menu-item-container">
    @for(m of menuItems(); track m.id){
    <p>{{m.foodName}}</p>
    }
</div>