.food-category-container {
  display: flex;
  flex-wrap: wrap;

  margin: 2rem auto;
}

.categories-container figure {
  margin: unset;
}

.categories-container img {
  width: 4rem;
}

.categories-container {
  margin: 1rem auto;
}

.restaurant-container,
.categories-container {
  background-color: unset;
  border: unset;
}

.all-restaurants-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 1rem;
}

.restaurant-container figure {
  text-align: center;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  width: 14rem;
  outline: 0.025rem solid gray;
}

.restaurant-container img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 9rem;
}

.categories-container:focus,
.restaurant-container:focus {
  outline: 0.25rem solid red;
}

/* Smartphones (from 576px). */
@media only screen and (max-width: 576px) {
  .food-category-container {
    display: flex;
    flex-wrap: wrap;

    margin: 2rem auto;
  }

  .categories-container figure {
    margin: unset;
  }

  .categories-container img {
    width: 4rem;
  }

  .categories-container {
    margin: 1rem auto;
    width: 20%;
  }
}
