.food-category-container {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
  justify-content: space-around;
}

.food-category-container img {
  width: 8rem;
  height: 8rem;
}

.categories-container figure {
  margin: 1.5rem 0.5rem;
  padding: 2rem 0.5rem;

  width: 9rem;
  height: 10rem;

  outline: 0.025rem solid gray;
}

.restaurant-container,
.categories-container {
  background-color: unset;
  border: unset;
}

.all-restaurants-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 1rem;
}

.restaurant-container figure {
  text-align: center;
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  width: 14rem;
  outline: 0.025rem solid gray;
}

img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 12rem;
}

.categories-container:focus,
.restaurant-container:focus {
  outline: 0.25rem solid red;
}

/* Smartphones (from 576px). */
@media only screen and (max-width: 576px) {
  .all-restaurants-container {
    justify-content: center;
  }
}

/* Tablets im Querformat (from 768px). */
@media only screen and (min-width: 768px) {
  .all-restaurants-container {
    justify-content: center;
  }
}
