.cart-container {
  display: grid;
  justify-content: center;
}

.menu-items {
  display: grid;
  grid-template-columns: 8rem 0.5fr auto auto;
  margin-top: 1rem;
  outline: 0.025rem solid gray;
}

.food-name {
  justify-content: start;
  margin-left: 8rem;
}

.mat-icon {
  display: flex;

  margin-top: 0.5rem;
  margin: auto auto;
  padding-right: 1rem;
  width: 8rem;
}

.summary {
  justify-content: flex-end;

  margin: 1rem auto;
  margin-left: 60rem;
  padding: 1rem 1rem;

  outline: 0.025rem solid gray;
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.buy-button {
  float: right;
  margin-right: 3rem;
}

.login-warning {
  margin-top: 4rem;
}

img {
  width: 8rem;
}

button:focus {
  outline: 0.24rem red solid;
}

p {
  display: flex;
  justify-content: center;
  margin: auto 2rem;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Smartphones (from 576px). */
@media only screen and (max-width: 576px) {
  .cart-container {
    justify-content: center;
  }

  .food-name {
    margin-left: -2.5rem;
  }

  .menu-items {
    justify-content: center;
    padding: 0;
  }

  .summary {
    margin: 1rem auto;
  }

  .mat-icon {
    margin: auto auto;
    padding: 0;

    width: 6rem;
  }

  .mat-icon p {
    margin: 0rem 0.7rem 0rem 0rem;
  }

  img {
    width: 5rem;
  }
}

/* Tablets & larger Smartphones (from 576px). */
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .menu-items {
    justify-content: center;
    grid-template-columns: 1rem 0.3fr auto auto;
    padding: 0;
    margin: 0;
  }

  .summary {
    margin: 1rem auto;
    align-items: center;
  }
}

/* Tablets im Querformat (from 768px). */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .menu-items {
    grid-template-columns: 3rem 0.5fr auto auto;
  }

  .summary {
    margin: 1rem auto;
    align-items: center;
  }
}
