.cart-container {
  display: grid;
  justify-content: center;
}

.menu-items {
  display: grid;
  grid-template-columns: 8rem 0.5fr auto auto;
  margin-top: 1rem;
  outline: 0.025rem solid gray;
}

.food-name {
  justify-content: start;
  margin-left: 8rem;
}

.mat-icon {
  display: flex;

  margin-top: 0.5rem;
  margin: auto auto;
  padding-right: 1rem;
  width: 8rem;
}

.summary {
  justify-content: flex-end;

  margin: 1rem auto;
  margin-left: 60rem;
  padding: 1rem 1rem;

  outline: 0.025rem solid gray;
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
}

.login-warning {
  margin-top: 4rem;
}

img {
  width: 8rem;
}

p {
  display: flex;
  justify-content: center;
  margin: auto 2rem;
}

h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
