<section class="my-addresses-container">
  <header>
    <h2>My Addresses</h2>
  </header>

  <div class="addresses" aria-label="My Addresses.">
    <div class="address-list">
      @for (address of sortedAddresses(); track address) {
        <div class="address-line" tabindex="0">
          <p>{{ address.label }} Address</p>
          {{ formatAddress(address) }}

          <div class="button-controls">
            @if (address.id != null) {
              <button
                mat-raised-button
                class="delete-button"
                type="button"
                (click)="onDeleteAddress(address.id)"
                title="Delete address."
                aria-label="{{ address.label }} Address"
              >
                <mat-icon>delete</mat-icon>
              </button>
            }

            <button
              id="address-button"
              mat-raised-button
              type="button"
              aria-label="Edit or add Address."
              title="Edit or add address"
              (click)="accountService.openDialog('address')"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      }
    </div>
  </div>
</section>
