.my-addresses-container {
  text-align: center;
}

.addresses {
  display: grid;
  padding: 1rem 1rem;
  margin: auto 2rem;

  outline: 0.15rem solid gray;
  border-radius: 2rem;
}

.address-list {
  display: grid;
  margin: 1rem 1rem;
  cursor: pointer;
}

#add-address-button {
  background-color: unset;
  padding: 4rem 4rem;
  margin-top: 1rem;
  margin: auto auto;
}

button {
  box-shadow: none;
}

.add-button {
  font-size: 3.12rem;
  height: 3.12rem;
  width: 3.12rem;
  margin-top: 2rem;
}

.address-line {
  padding: 2rem 2rem;
  margin-top: 1rem;
  border-radius: 2rem;
  outline: 0.15rem solid gray;
}

.button-controls {
  float: right;
  display: flex;
  cursor: pointer;
}

.login-warning {
  margin-top: 4rem;
}

.addresses button {
  font-size: large;
  font-weight: 500;
}

.addresses:hover {
  background-color: rgb(54, 53, 53);
}

.address-line:focus,
button:focus,
.add-button:focus {
  outline: 0.25rem solid red;
}
