<div class="profile-modal-container">
    @if(selectedFormField() === "email"){
    <form [formGroup]="emailForm" (ngSubmit)="onChangeEmail()">
        <div class="email-view">
            <label for="email">Email-Address</label>
            <input id="email" type="email" placeholder="michael@gmail.com" [formControl]="emailForm.controls.email">
            <button type="submit" matButton="elevated" [disabled]="emailForm.invalid">Change email address</button>

            @if( this.emailForm.controls.email.invalid && (this.emailForm.controls.email.touched ||
            this.emailForm.controls.email.dirty)){
            @if(this.emailForm.controls.email.hasError("required") || this.emailForm.controls.email.hasError("email")){
            <p class="error-message">{{emailIsInvalid}}</p>
            }
            }@else {
            <p class="success-message">{{successMessage()}}</p>
            }
        </div>
    </form>

    }@else if(selectedFormField() === "password"){
    <form>
        <div class="password-view">
            <label for="old-password">Old Password</label>
            <input id="old-password" type="password" placeholder="dHsleFo(9)?"
                title="Has to contain at least 6 characters until maximum 30.">

            <label for="new-password">New Password</label>
            <input id="new-password" type="password" placeholder="!KlfhUr=8&rG"
                title="Has to contain at least 6 characters until maximum 30.">
            <button matButton="elevated">Change password</button>
        </div>
    </form>
    }
</div>