.restaurants-detail-container {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem 2rem;
}

.menu-item-container {
  display: flex;
  flex-wrap: wrap;

  height: auto;
  width: auto;
}

.menu-item {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  padding: 2rem 1rem;
  width: auto;
  height: auto;

  border-radius: 2rem;
  outline: 0.025rem solid gray;
}

.menu-item-menu {
  display: flex;
  padding-bottom: 1rem;
}

.menu-item img {
  margin-left: 2rem;
}

.restaurant-details img {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.restaurant-details {
  display: flex;
  border-bottom: 0.025rem solid gray;
  margin-bottom: 3rem;
}

.favourite-button {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 0rem;
  width: auto;
  height: auto;

  color: red;
  background: transparent;
  border: none;
  cursor: pointer;
}

.quantity-control {
  display: flex;

  margin-top: 0.5rem;
  margin: auto auto;
  padding: 1rem 1rem;
  gap: 0.5rem;
}

.quantity-control button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.item-quantity {
  margin-left: 1rem;
}

.error-message,
.success-message {
  font-weight: 500;
  font-size: medium;
  text-align: center;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

img {
  height: 8rem;
  border-radius: 1rem;
}

p {
  margin: auto;
  margin-right: 1rem;
}

.menu-item:hover {
  background-color: #681b33;
}

.favourite-button:hover {
  color: rgb(155, 22, 22);
}

.remove-button:focus,
.add-button:focus,
.favourite-button:focus {
  outline: 0.25rem solid red;
}
