.restaurants-detail-container {
  display: grid;
  justify-content: center;
  margin-top: 1rem;
  padding: 1rem 1rem;
  outline: 0.025rem solid red;
}

.menu-item-container {
  display: flex;
  flex-wrap: wrap;

  outline: 0.025rem solid blue;
  height: auto;
  width: auto;
}

.menu-item {
  margin: 1rem 1rem;
  width: auto;
  height: auto;
}

img {
  height: 8rem;
}

.restaurant-details img {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.restaurant-details {
  display: flex;
  border-bottom: 0.025rem solid gray;
  margin-bottom: 3rem;
}
