<div class="restaurants-detail-container">
  <div class="restaurant-details">
    <div class="restaurant-details-image">
      <img [src]="'/images/restaurants/' + getCurrentRestaurantImage()" [alt]="getCurrentRestaurantImage()" />
    </div>
    <div class="restaurant-details-information">
      <p>{{ getCurrentCategory() }}</p>
      <h2>{{ getCurrentRestaurant() }}</h2>
    </div>
  </div>

  <div class="food-filter-container">
    <mat-chip-listbox
      class="food-filter-list"
      (change)="onFilterDietaryChange($event)"
      aria-label="Select a food label."
      aria-describedby="In order to choose a filter option, navigate using arrow keys and press enter/space."
    >
      @for (label of filteredDietaryLabelByMenuItem(); track $index) {
        <mat-chip-option
          class="food-filter-item"
          [aria-label]="label[1] + ' food items have been found for ' + label[0].toString().split('_').join(' ')"
          [title]="label[1] + ' food items have been found for ' + label[0].toString().split('_').join(' ') | titlecase"
          [value]="label[0] | uppercase"
          >{{ `${(label[0].toString().split('_').join(' ') | titlecase)} (${label[1]})` }}
        </mat-chip-option>
      }
    </mat-chip-listbox>
  </div>

  <div class="menu-item-container">
    @for (m of filteredMenuItems(); track m.id) {
      <div class="menu-item">
        <div class="menu-item-menu">
          <div class="menu-item-details">
            <p>{{ m.foodName }}</p>
            <p>Price: {{ m.price }} Euro</p>
          </div>
          <div class="menu-item-image">
            <img [src]="'/images/menus/' + m.foodImage" [alt]="m.foodName" />
          </div>
          <div class="menu-item-favourite">
            @if (menuItemsIdsComputed().includes(m.id)) {
              <button
                class="favourite-button"
                mat-icon-button
                (click)="onRemoveFromFavourites(m.id)"
                [title]="'Click to remove ' + m.foodName + ' from favourite.'"
              >
                <mat-icon>favorite</mat-icon>
              </button>
            } @else {
              <button
                class="favourite-button"
                mat-icon-button
                (click)="onAddToFavourite(m.id)"
                [title]="'Click to add ' + m.foodName + ' to favourite.'"
              >
                <mat-icon>favorite_border</mat-icon>
              </button>
            }
          </div>
        </div>
        <div class="quantity-control">
          <button
            class="remove-button"
            (click)="onRemoveFromCart(m.id)"
            aria-hidden="false"
            [attr.aria-label]="'Remove ' + m.foodName + ' from cart.'"
          >
            <mat-icon mat-icon-button fontIcon="remove"></mat-icon>
          </button>
          <p class="item-quantity" [attr.aria-label]="'Quantity of ' + m.foodName + ': ' + getItemQuantity(m.id)" tabindex="0">
            {{ getItemQuantity(m.id) }}
          </p>
          <button class="add-button" (click)="onAddToCart(m.id)" aria-hidden="false" [attr.aria-label]="'Add' + m.foodName + 'to cart.'">
            <mat-icon mat-icon-button fontIcon="add"></mat-icon>
          </button>
        </div>
        @if (favouritesService.menuItemIdErrorMessages()[m.id]) {
          <p class="error-message">{{ favouritesService.menuItemIdErrorMessages()[m.id] }}</p>
        }
      </div>
    }
  </div>
</div>
