<div class="favourites-container">
  @if (authService.authUser() !== undefined) {
    <h1>Favourites</h1>
    <div class="favourite-menu-items-list">
      @for (favourite of favouriteMenuItemsComputed(); track $index) {
        <div class="favourite-menu-item">
          <div class="item-header">
            <p class="restaurant-name">{{ favourite.restaurantName }}</p>
            <div class="favourite-button-container">
              <button
                class="favourite-button"
                (click)="onRemoveFromFavourites(favourite.favouriteId)"
                [title]="'Remove ' + favourite.menuItemName + ' from favourites.'"
              >
                <mat-icon>favorite</mat-icon>
              </button>
            </div>
          </div>

          <figure>
            <img [src]="getMenuImageUrl(favourite.menuItemImage)" [alt]="favourite.menuItemName" />
            <figcaption>{{ favourite.menuItemName }}</figcaption>
          </figure>
          <p>{{ favourite.price }} Euro</p>

          <div class="quantity-control">
            <button
              class="remove-button"
              (click)="onRemoveFromCart(favourite.favouriteId)"
              aria-hidden="false"
              [attr.aria-label]="'Remove ' + favourite.menuItemName"
              [title]="'Remove ' + favourite.menuItemName + ' from cart.'"
              [disabled]="getItemQuantity(favourite.favouriteId) === 0"
            >
              <mat-icon mat-icon-button fontIcon="remove"></mat-icon>
            </button>
            <p class="item-quantity" [attr.aria-label]="'Quantity: ' + getItemQuantity(favourite.favouriteId)" tabindex="0">
              {{ getItemQuantity(favourite.favouriteId) }}
            </p>
            <button
              class="add-button"
              (click)="onAddToCart(favourite.favouriteId)"
              aria-hidden="false"
              [attr.aria-label]="'Add ' + favourite.menuItemName"
              [title]="'Add ' + favourite.menuItemName + ' to cart.'"
            >
              <mat-icon mat-icon-button fontIcon="add"></mat-icon>
            </button>
          </div>
        </div>
      }

      <div>
        @if (favouriteMenuItemsComputed().length === 0) {
          <p class="no-quantity">No favourites have been added.</p>
        }

        @if (networkError()) {
          <p class="error-message">{{ networkError() }}</p>
        }
      </div>
    </div>
  } @else {
    <h2 class="login-warning">Login to see your favourites.</h2>
  }
</div>
