<div class="favourites-container">
  @if (authService.authUser() !== undefined) {
    <h1>Favourites</h1>
    <div class="favourite-menu-items-list">
      @for (favourite of favouriteMenuItemsComputed(); track $index) {
        <div class="favourite-menu-item">
          <!-- <p>{{ favourite.favouriteId }}</p> -->
          <figure>
            <img [src]="'images/menus/' + favourite.menuItemImage" [alt]="favourite.menuItemName" tabindex="0" />
            <figcaption>{{ favourite.menuItemName }}</figcaption>
          </figure>
          <p>{{ favourite.price }} Euro</p>
          <p>{{ favourite.restaurantName }}</p>
        </div>
      }
    </div>
  } @else {
    <h2 class="login-warning">Login to see your favourites.</h2>
  }
</div>
