.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(44, 43, 43);
}

button {
  margin-left: 1rem;
}

button:last-child {
  margin-right: 1rem;
}

img {
  margin: 0.2rem 0rem 0rem 0.2rem;
  width: 4rem;
}

button mat-icon {
  margin: auto;
}

button:focus,
img:focus {
  outline: 0.24rem red solid;
}
