.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  background-color: white;
  padding: 4rem;
  border-radius: 2rem;
}
.confirm-button {
  background-color: rgb(190, 29, 29);
}

p {
  font-size: large;
}

button:focus {
  outline: 0.25rem solid red;
}
