<div class="profile-modal-container">
    @if(selectedFormField() === "email"){
    <form [formGroup]="emailForm" (ngSubmit)="onChangeEmail()">
        <div class="email-view">
            <label for="email">Email-Address</label>
            <input id="email" type="email" placeholder="michael@gmail.com" [formControl]="emailForm.controls.email">
            <button type="submit" matButton="elevated" [disabled]="emailForm.invalid">Change email address</button>

            @if( this.emailForm.controls.email.invalid && (this.emailForm.controls.email.touched ||
            this.emailForm.controls.email.dirty)){
            @if(this.emailForm.controls.email.hasError("required") || this.emailForm.controls.email.hasError("email")){
            <p class="error-message">{{emailIsInvalid}}</p>
            }
            }@else {
            @if(isValidChange()){
            <p class="success-message">{{successMessage()}}</p>
            }
            <p class="error-message">{{errorMessage()}}</p>

            }
        </div>
    </form>

    }@else if(selectedFormField() === "password"){
    <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
        <div class="password-view">
            <label for="old-password">Old Password</label>
            <input id="old-password" type="password" placeholder="dHsleFo(9)?" minlength="6" maxlength="30"
                title="Has to contain at least 6 characters until maximum 30."
                [formControl]="passwordForm.controls.currentPassword">

            @if((this.passwordForm.controls.currentPassword.invalid &&
            (this.passwordForm.controls.currentPassword.touched || this.passwordForm.controls.currentPassword.dirty)) ){
            @if(this.passwordForm.controls.currentPassword.hasError("required") ||
            this.passwordForm.controls.currentPassword.hasError("minlength") ||
            this.passwordForm.controls.currentPassword.hasError("maxlength") ||
            this.passwordForm.controls.currentPassword.hasError("differentCurrentPassword")
            ){
            <p class="error-message">{{currentPasswordIsInvalid}}</p>

            }
            }

            <label for="new-password">New Password</label>
            <input id="new-password" type="password" placeholder="!KlfhUr=8&rG" minlength="6" maxlength="30"
                title="Has to contain at least 6 characters until maximum 30."
                [formControl]="passwordForm.controls.newPassword">

            @if( (this.passwordForm.controls.newPassword.invalid && (this.passwordForm.controls.newPassword.touched ||
            this.passwordForm.controls.newPassword.dirty))){
            @if(this.passwordForm.controls.newPassword.hasError("required") ||
            this.passwordForm.controls.newPassword.hasError("minlength") ||
            this.passwordForm.controls.newPassword.hasError("maxlength") ||
            this.passwordForm.controls.newPassword.hasError("sameAsCurrentPassword")
            ){
            <p class="error-message">{{newPasswordIsInvalid}}</p>
            }

            }
            <button matButton="elevated" [disabled]="passwordForm.invalid">Change password</button>


            @if(isValidChange()){
            <p class="success-message">{{successMessage()}}</p>
            }@else{

            <p class="error-message">{{errorMessage()}}</p>
            }


        </div>
    </form>
    }
</div>