<div
  class="profile-modal-container"
  [aria-label]="'Enter your new ' + selectedFormField()"
  aria-modal="true"
  cdkTrapFocusAutoCapture
  cdkTrapFocus
>
  @if (selectedFormField() === 'email') {
    <form [formGroup]="emailForm" (ngSubmit)="onChangeEmail()">
      <div class="email-view">
        <label for="email">Email-Address</label>
        <input id="email" type="email" placeholder="For example: michael@gmail.com" [formControl]="email" />
        <button type="submit" matButton="elevated" [disabled]="emailForm.invalid">Change email address</button>

        @if (this.email.invalid && (this.email.touched || this.email.dirty)) {
          @if (this.email.hasError('required') || this.emailForm.controls.email.hasError('email')) {
            <p class="error-message">{{ validatorsService.emailIsInvalid }}</p>
          }
        } @else {
          @if (isValidChange()) {
            <p class="success-message">{{ successMessage() }}</p>
          }
          <p class="error-message">{{ errorMessage() }}</p>
        }
      </div>
    </form>
  } @else if (selectedFormField() === 'password') {
    <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
      <div class="password-view">
        <label for="old-password">Old Password</label>
        <input
          id="old-password"
          type="password"
          placeholder="For example: dHsleFo(9)?"
          minlength="6"
          maxlength="30"
          title="Has to contain at least 6 characters until maximum 30."
          [formControl]="currentPassword"
        />

        @if (this.currentPassword.invalid && (this.currentPassword.touched || this.currentPassword.dirty)) {
          @if (
            this.currentPassword.hasError('required') ||
            this.currentPassword.hasError('minlength') ||
            this.currentPassword.hasError('maxlength') ||
            this.currentPassword.hasError('differentCurrentPassword')
          ) {
            <p class="error-message">{{ this.validatorsService.currentPasswordIsInvalid }}</p>
          }
        }

        <label for="new-password">New Password</label>
        <input
          id="new-password"
          type="password"
          placeholder="!KlfhUr=8&rG"
          minlength="6"
          maxlength="30"
          title="Has to contain at least 6 characters until maximum 30."
          [formControl]="newPassword"
        />

        @if (newPassword.invalid && (newPassword.touched || newPassword.dirty)) {
          @if (
            newPassword.hasError('required') ||
            newPassword.hasError('minlength') ||
            newPassword.hasError('maxlength') ||
            newPassword.hasError('sameAsCurrentPassword')
          ) {
            <p class="error-message">{{ validatorsService.newPasswordIsInvalid }}</p>
          }
        }
        <button matButton="elevated" [disabled]="passwordForm.invalid">Change password</button>

        @if (isValidChange()) {
          <p class="success-message">{{ successMessage() }}</p>
        } @else {
          <p class="error-message">{{ errorMessage() }}</p>
        }
      </div>
    </form>
  } @else if (selectedFormField() === 'phoneNumber') {
    <form [formGroup]="phoneNumberForm" (ngSubmit)="onChangePhoneNumber()">
      <div class="phone-number-view">
        <label for="phoneNumber">Phone Number *</label>
        <input
          id="phoneNumber"
          type="tel"
          placeholder="For example: 012345678"
          minlength="3"
          maxlength="20"
          title="Has to contain at least 3 numbers until maximum 20."
          [formControl]="phoneNumber"
        />

        @if (phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)) {
          @if (phoneNumber.hasError('required') || phoneNumber.hasError('minlength') || phoneNumber.hasError('maxlength')) {
            <mat-error class="error-message">{{ validatorsService.phoneNumberIsInvalid }}</mat-error>
          }
        }

        <button matButton="elevated" [disabled]="phoneNumberForm.invalid">Change Phone Number</button>

        @if (isValidChange()) {
          <p class="success-message">{{ successMessage() }}</p>
        } @else {
          <p class="error-message">{{ errorMessage() }}</p>
        }
      </div>
    </form>
  }
</div>
